<h1>Crear/Editar una Ruta</h1>
<hr>

<div class="text-center" style="margin: 20px;" *ngIf="guardando">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Guardando Ruta ...</h3>
</div>

<form>
    <div class="form-group">
        <label style="font-weight: bold;">Ruta</label>
        <input type="text" class="form-control" [(ngModel)]="ruta.ruta" name="ruta">
    </div>


    <button (click)="guardarRuta()" class="btn btn-outline-success float-right"><img src="assets/Iconos/Guardar.png" style="height: 32px;"> Guardar</button>
</form>