<h1>Usuarios</h1>
<hr>

<div class="text-center" style="margin: 20px;" *ngIf="leyendo">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Leyendo Usuarios ...</h3>
</div>

<div class="text-center" style="margin: 20px;" *ngIf="eliminando">
    <i class="fas fa-sync fa-10x text-success fa fa-spin"></i>
    <h3>Eliminando Usuario ...</h3>
</div>

<div class="m-3" *ngIf="!leyendo && !eliminando">

    <button class="btn btn-outline-success float-right" (click)="agregarUsuario()" style="margin: 5px;"><img src="assets/Iconos/Agregar.png" style="height: 32px;"> Agregar Usuario</button>

    <table class="table table-hover puntero-manito">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>



        <tbody>
            <tr *ngFor="let usuario of Usuarios; let id = index">
                <td>{{ id + 1 }}</td>
                <td>{{ usuario.idusuario }}</td>
                <td>{{ usuario.nombre | capitalizado}}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>
                    <button class="btn btn-outline-success btn-sm" (click)="verUsuario(usuario)"> <img src="assets/Iconos/Ver.png" style="height: 32px;"> Ver</button>
                </td>
                <td>
                    <button class="btn btn-outline-warning btn-sm" (click)="editarUsuario(usuario)"> <img src="assets/Iconos/Editar.png" style="height: 32px;"> Editar</button>
                </td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" (click)="eliminarUsuario(usuario)"><img src="assets/Iconos/Eliminar.png" style="height: 32px;"> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>